html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #ffffff; */
  /* background-color: rgb(67, 62, 62); */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.error-button{
  display: block;
      width: 15vw;
      padding: 8px;
      font-size: 1.1rem;
      font-weight: bold;
      border-color: #00bc77;
      background-color: #00bc77;
      color: #fff;
      margin: 3rem auto;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
